transformers>=4.44.0
datasets
tqdm
scipy
sacrebleu
evaluate==0.2.2
rouge_score==0.1.2
chardet==5.1.0
BeautifulSoup4==4.11.2
sentencepiece==0.2.0
filelock
tenacity
nltk
tiktoken
chromadb
faiss-cpu
sentence-transformers
requests
numpy
torch
